<div class="home-wrapper">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>

<div id="clubName">
    <h2>fc Realcelona</h2>
</div>

<div id="clubPages">
    <a href="/login" class="btn btn-outline-dark" id="frontPageButton" type="button">Admin</a>
    <a href="/contact" class="btn btn-outline-dark" id="frontPageButton" type="button">Contacts</a>
    <a href="/articles" class="btn btn-outline-dark" id="frontPageButton" type="button">Articles</a>
    <a href="/stadium" class="btn btn-outline-dark" id="frontPageButton" type="button">Stadium</a>
    <a href="/cups" class="btn btn-outline-dark" id="frontPageButton" type="button">Cups</a>
    <a href="/legends" class="btn btn-outline-dark" id="frontPageButton" type="button">Legends</a>
</div>
